[submodule "bundle/vim-color-sampler"]
	path = bundle/vim-color-sampler
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
    ignore = dirty
[submodule "bundle/vim-ack"]
	path = bundle/vim-ack
	url = http://github.com/mileszs/ack.vim
    ignore = dirty
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/msanders/snipmate.vim.git
    ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
    ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
    ignore = dirty
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
    ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
    ignore = dirty
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
    ignore = dirty
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
    ignore = dirty
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
    ignore = dirty
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
    ignore = dirty
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
    ignore = dirty
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
    ignore = dirty
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
    ignore = dirty
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
    ignore = dirty
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
    ignore = dirty
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
    ignore = dirty
[submodule "bundle/vim-snipmate-for-django"]
	path = bundle/vim-snipmate-for-django
	url = https://github.com/robhudson/snipmate_for_django.git
    ignore = dirty
[submodule "bundle/vim-irblack"]
	path = bundle/vim-irblack
	url = git://github.com/wgibbs/vim-irblack.git
    ignore = dirty
[submodule "bundle/vim-gist"]
	path = bundle/vim-gist
	url = git://github.com/mattn/gist-vim.git
    ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
    ignore = dirty
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
    ignore = dirty
[submodule "bundle/vim-tagbar"]
	path = bundle/vim-tagbar
	url = https://github.com/majutsushi/tagbar.git
    ignore = dirty
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
    ignore = dirty
[submodule "bundle/vim-textile"]
	path = bundle/vim-textile
	url = git://github.com/timcharper/textile.vim.git
    ignore = dirty
[submodule "bundle/vim-searchfold"]
	path = bundle/vim-searchfold
	url = git://github.com/vim-scripts/searchfold.vim.git
    ignore = dirty
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
    ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/vim-pony"]
	path = bundle/vim-pony
	url = https://github.com/rainerborene/vim-pony.git
    ignore = dirty
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
    ignore = dirty
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/vim-gundo"]
	path = bundle/vim-gundo
	url = http://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/vim-delimitmate"]
	path = bundle/vim-delimitmate
	url = https://github.com/Raimondi/delimitMate.git
    ignore = dirty
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = git://github.com/docunext/closetag.vim.git
    ignore = dirty
[submodule "bundle/vim-hexhighlight"]
	path = bundle/vim-hexhighlight
	url = https://github.com/vim-scripts/hexHighlight.vim.git
    ignore = dirty
[submodule "bundle/vim-fuzzyfinder"]
	path = bundle/vim-fuzzyfinder
	url = https://github.com/clones/vim-fuzzyfinder.git
    ignore = dirty
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/clones/vim-l9.git
    ignore = dirty
[submodule "konira.vim"]
	path = konira.vim
	url = https://github.com/alfredodeza/konira.vim.git
    ignore = dirty
[submodule "bundle/vim-konira"]
	path = bundle/vim-konira
	url = https://github.com/alfredodeza/konira.vim.git
    ignore = dirty
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/lunaru/vim-less.git
    ignore = dirty
[submodule "bundle/vim-ctrlp"]
	path = bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim
    ignore = dirty
[submodule "bundle/vim-webapi"]
	path = bundle/vim-webapi
	url = https://github.com/mattn/webapi-vim.git
    ignore = dirty
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-hardmode"]
	path = bundle/vim-hardmode
	url = git://github.com/wikitopian/hardmode.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/slim-template/vim-slim
[submodule "bundle/vim-crystal"]
	path = bundle/vim-crystal
	url = https://github.com/rhysd/vim-crystal.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-omnisharp"]
	path = bundle/vim-omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "bundle/vim-rust-official"]
	path = bundle/vim-rust-official
	url = git@github.com:rust-lang/rust.vim.git
[submodule "bundle/vim-rust"]
	path = bundle/vim-rust
	url = git@github.com:rust-lang/rust.vim.git
[submodule "bundle/vim-racer"]
	path = bundle/vim-racer
	url = git@github.com:racer-rust/vim-racer.git
[submodule "bundle/vim-cargo"]
	path = bundle/vim-cargo
	url = git@github.com:timonv/vim-cargo.git
[submodule "bundle/vim-rust-doc"]
	path = bundle/vim-rust-doc
	url = git@github.com:rhysd/rust-doc.vim.git
[submodule "bundle/vim-toml"]
	path = bundle/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "bundle/vim-you-complete-me"]
	path = bundle/vim-you-complete-me
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "bundle/vim-nim"]
	path = bundle/vim-nim
	url = git@github.com:zah/nim.vim.git
[submodule "bundle/vim-color-coded"]
	path = bundle/vim-color-coded
	url = git@github.com:jeaye/color_coded.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "bundle/vim-python-syntax"]
	path = bundle/vim-python-syntax
	url = git@github.com:vim-python/python-syntax.git
[submodule "bundle/vim-python-mode"]
	path = bundle/vim-python-mode
	url = git@github.com:python-mode/python-mode.git
